## Forward curves 
Get three different rates as forward curves to calculate floating and adjustable payments.  Three rates:
1. SOFR 1 month
2. SOFT 3 month
3. Libor 1 month

In [54]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

In [39]:
# Get forward curves, SOFR and LIBOR
#https://www.pensford.com/resources/forward-curve

url = "https://www.pensford.com/resources/forward-curve"
data = requests.get(url).text

# Creating BeautifulSoup object
soup = BeautifulSoup(data, 'html.parser')

print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('id'))

Classes of each table:
curve-table

In [52]:
# Creating list with all tables
# tables = soup.find_all('table')

#  Looking for the table with the id 'curve-table'
table = soup.find('table', id='curve-table')

# Defining of the dataframe
df = pd.DataFrame(columns=['Date','SOFR_1m','SOFR_3m','LIBOR_1m'])

# Collecting Data
for row in table.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        date = datetime.strptime(columns[0].text, '%m/%d/%Y')
        sofr_1m = float(columns[1].text.strip('%'))/100
        sofr_3m = float(columns[2].text.strip('%'))/100
        libor_1m = float(columns[3].text.strip('%'))/100
        df = df.append({'Date': date, 'SOFR_1m': sofr_1m, 'SOFR_3m': sofr_3m, 'LIBOR_1m': libor_1m}, ignore_index=True)

In [56]:
df.head()

        Date  SOFR_1m  SOFR_3m  LIBOR_1m
0 2022-06-21   0.0151   0.0193    0.0161
1 2022-07-21   0.0205   0.0235    0.0224
2 2022-08-21   0.0220   0.0270    0.0226
3 2022-09-21   0.0282   0.0308    0.0322
4 2022-10-21   0.0307   0.0330    0.0322